.about-us {
  padding: 40px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.about-us-info {
  text-align: center;
  padding: 8%;
  border: 1px solid black;
  border-radius: 20px;
}

.about-us-info h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}





.location-map {
  margin-top: 20px;
}
.history {
  margin-bottom: 40px;
}

.history h2 {
  font-size: 26px;
  color: #ffcc00;
}

.history p {
  font-size: 30px;
  margin-bottom: 30px;
}

.history-details {
  gap: 80px;
  
}

.history-item h3 {
  font-size: 20px;
  color: #ffcc00;
  margin-bottom: 10px;
}

.history-item p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  max-width: 100%; /* Adjusted for responsiveness */
}


.insights {
  text-align: center;
}

.insights h2 {
  font-size: 26px;
  color: #ffcc00;
  margin-bottom: 20px;
}

.insight-images {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.insight-images img {
  width: 500px !important;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.vertical-line {
  width: 1px;
  height: 100%;
  background-color: #ccc;
  margin: 0 auto;
}
