.deals-showcase {
  padding: 20px;
}

/* Card Styling */
.special-deal-card {
  background-color: transparent;
  border-radius: 15px;
  gap: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.special-deal-card:hover {
  transform: scale(1.05);
}

/* Set different sizes for the cards */
/* Set different sizes for the cards */
.side-deal {
  height: 400px;
  
}

.center-deal {
  height: 400px;
 
}


/* Deal Content */
.deal-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

/* Image Styling */
.deal-image {
  background-size: cover;
  background-position: center;
  height: 60%;
  width: 100%;
}

/* Discount Badge Styling */
.deal-discount-badge {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: #d43734;
  color: #fff;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 0.9rem;
  clip-path: polygon(
    50% 0%, 58% 8%, 66% 8%, 75% 16%, 83% 16%, 91% 24%, 
    100% 33%, 91% 41%, 83% 49%, 75% 49%, 66% 58%, 58% 58%, 
    50% 66%, 41% 58%, 33% 58%, 24% 49%, 16% 49%, 8% 41%, 
    0% 33%, 8% 24%, 16% 16%, 24% 16%, 33% 8%, 41% 8%
  );
  text-align: center;
  line-height: 1.2;
}

/* Deal Info */
.deal-info {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  width: 100%;
}

/* Deal Title */
.deal-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Deal Description */
.deal-description {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

/* Price and Order Button */
.deal-price-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deal-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d43734;
}



/* Responsive Design */
@media (max-width: 992px) {
  .side-deal,
  .center-deal {
    width: 100%;
    height: auto;
  }

  .deal-info {
    text-align: left;
  }
}
