.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 10px;
    gap: 10px;
    row-gap: 50px;
}

.category-buttons button {
    color: black;
    font-weight: 500;
    padding: 0.5vw 2vw;
    background-color: #E7E7E7;
    font-size: max(1vw, 13px);
    border-radius: 40px;
    border: none;
    margin: 0.5% 0.3% 0.5% 0.3%;
}

.category-buttons button:hover {
    background-color: #f8c400;
    
}

.category-buttons button.active {
    color: white;
    font-weight: 500;
    padding: 0.5vw 2vw;
    background-color: black;
    font-size: max(1vw, 13px);
    border-radius: 40px;
    border: none;

}